@import '~variables';

.base {
  background: $white;
  padding: 1.5rem 1rem;

  .link {
    border: 1px solid purple;
    cursor: pointer;
    padding: 1rem;
    text-decoration: none;

    &:hover {
      border-color: red;
      text-decoration: none;
    }
  }

  .link-wrapper {
    align-content: center;
    display: flex;
    justify-content: space-around;
  }
}
