@import '~variables';

.base {
  background-color: transparent;
  opacity: .6;
  padding: 1.5rem 1rem;
  position: fixed;
  width: 100%;
  z-index: 50;

  &.show-bg {
    background-color: $charcoal;
  }

  .link {
    border: 1px solid $text-red;
    color: $primary-gray;
    cursor: pointer;
    padding: 1rem;
    text-decoration: none;

    &:hover {
      background-color: $text-red;
      text-decoration: none;
    }
  }

  .link-wrapper {
    align-content: center;
    display: flex;
    justify-content: space-around;
  }
}
