@charset "UTF-8";
/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
TITLE: SCSS Manifest
===========================================================================
*/
/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Utility
TITLE: Normalize v2.1.1 Customized
===========================================================================
*/
article,
aside,
details,
div,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  background: #fff;
  color: #000;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 32px;
  font-size: 2rem; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 75%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

legend {
  border: 0;
  padding: 0; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: inherit; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Utility
TITLE: CSS Reset
===========================================================================
*/
div,
header,
main,
section,
article,
aside,
figure,
figcaption,
form,
footer {
  box-sizing: border-box;
  position: relative; }

a {
  text-decoration: none;
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  position: relative;
  margin: 0;
  padding: 0; }

p {
  position: relative;
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

input {
  border-radius: 0;
  -webkit-appearance: none !important; }

button {
  border: none; }

/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Utility
TITLE: Clearfix
===========================================================================
*/
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Utility
TITLE: SASS Mixins
===========================================================================
*/
/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Utility
TITLE: Breakpoints
===========================================================================
*/
/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Utility
TITLE: Better CSS default colours by @mrmrs
===========================================================================
*/
/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Utility
TITLE: Colour Classes
===========================================================================
*/
/*

   SKINS
   • Backgrounds
   • Colors

*/
/* Backgrounds */
/* Colors */
/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Utility
TITLE: CSS cubic-bezier timing/easing functions
===========================================================================
*/
.fp-controlArrow.fp-prev, .fp-controlArrow.fp-next, #leftHover,
#topHover,
#rightHover,
#bottomHover, .popups {
  -webkit-transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Utility
TITLE: Font Definitions – GT Walsheim
===========================================================================
*/
@font-face {
  font-family: "gt-walsheim-regular";
  src: url("../fonts/GT-Walsheim-Regular.eot");
  src: url("../fonts/GT-Walsheim-Regular.ttf") format("truetype"), url("../fonts/GT-Walsheim-Regular.woff") format("woff");
  font-weight: normal; }

@font-face {
  font-family: "gt-walsheim-medium";
  src: url("../fonts/GT-Walsheim-Medium.eot");
  src: url("../fonts/GT-Walsheim-Medium.ttf") format("truetype"), url("../fonts/GT-Walsheim-Medium.woff") format("woff"), url("../fonts/GT-Walsheim-Medium.svg#gt-walsheim-medium") format("svg");
  font-weight: normal; }

@font-face {
  font-family: 'gt-walsheim-bold';
  src: url("../fonts/GT-Walsheim-Bold.eot");
  src: url("../fonts/GT-Walsheim-Bold.ttf") format("truetype"), url("../fonts/GT-Walsheim-Bold.woff") format("woff"); }

body, #desktop_content .text li {
  font-family: 'gt-walsheim-medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal; }

/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Utility
TITLE: Personal Profile Colours
===========================================================================
*/
/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Utility
TITLE: Visually Hidden
===========================================================================
*/
.hidden {
  display: none; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Atom
TITLE: Scaffolding
===========================================================================
*/
html,
body {
  width: 100%;
  height: 100%; }

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  font-size: 1rem;
  line-height: 1.375;
  color: #7FDBFF; }

body::-webkit-scrollbar {
  display: none; }

.frozen {
  overflow: hidden;
  height: 100%; }

.main {
  position: relative;
  width: 100%;
  height: 100%; }

a,
a:hover,
a:active,
a:focus,
a:visited {
  color: #7FDBFF; }

/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Atom
TITLE: Project 1
===========================================================================
*/
.project1 {
  width: 100%;
  height: 100%;
  display: inline-block;
  float: left;
  background: transparent url("../images/aveconcept.png") no-repeat center center;
  background-size: cover; }

/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Atom
TITLE: Project 2
===========================================================================
*/
.project2 {
  width: 100%;
  height: 100%;
  display: inline-block;
  float: left;
  background: transparent url("../images/public_art_hk.png") no-repeat top left;
  background-size: cover; }

/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Atom
TITLE: Project 3
===========================================================================
*/
.project3 {
  width: 100%;
  height: 100%;
  display: inline-block;
  float: left;
  background: transparent url("../images/willey_printing.png") no-repeat left center;
  background-size: cover; }

/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Atom
TITLE: Navigation Left Arrow
===========================================================================
*/
.fp-controlArrow.fp-prev {
  border: none;
  position: absolute;
  top: 6%;
  left: 1%;
  width: 10%;
  height: 100%;
  background: transparent url("../images/left_arrow.png") no-repeat center center;
  background-size: contain;
  display: none; }
  @media (min-width: 980px) {
    .fp-controlArrow.fp-prev {
      display: block; } }
  @media (min-width: 980px) {
    .fp-controlArrow.fp-prev else {
      display: block; } }

/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Atom
TITLE: Navigation Right Arrow
===========================================================================
*/
.fp-controlArrow.fp-next {
  border: none;
  position: absolute;
  right: 1%;
  top: 6%;
  width: 10%;
  height: 100%;
  background: transparent url("../images/right_arrow.png") no-repeat center center;
  background-size: contain;
  display: none; }
  @media (min-width: 980px) {
    .fp-controlArrow.fp-next {
      display: block; } }
  @media (min-width: 980px) {
    .fp-controlArrow.fp-next else {
      display: block; } }

/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Molecule
TITLE: Parallax Container
===========================================================================
*/
.parallaxBG {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }

.parallaxWrapper {
  display: none;
  visibility: hidden;
  -webkit-perspective: 4000px;
  -moz-perspective: 4000px;
  perspective: 4000px; }
  .parallaxWrapper:before {
    content: 'mobile'; }
  @media (min-width: 980px) {
    .parallaxWrapper {
      display: block;
      visibility: visible;
      position: relative;
      overflow: hidden;
      z-index: 200;
      top: 0;
      left: 0;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0); }
      .parallaxWrapper:before {
        content: 'web';
        display: none; } }
  @media (min-width: 980px) {
    .parallaxWrapper else {
      display: block;
      visibility: visible;
      position: relative;
      overflow: hidden;
      z-index: 200;
      top: 0;
      left: 0;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0); }
      .parallaxWrapper else:before {
        content: 'web';
        display: none; } }
  @media (min-width: 1440px) {
    .parallaxWrapper else {
      max-width: 1440px !important;
      margin: 0 auto; } }

.desktop-bg {
  backface-visibility: hidden;
  /* fixes a FF bug - images not correctly rendering*/
  background-color: rgba(255, 255, 255, 0.01); }

#background {
  transform: translateZ(50px);
  width: 100%; }

#foreground {
  position: absolute;
  transform: translateZ(400px);
  width: 83%;
  top: 7%;
  left: 10%; }
  @media (min-width: 1440px) {
    #foreground else {
      width: 90%;
      top: 5%;
      left: 5%; } }

/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Molecule
TITLE: Desktop Content
===========================================================================
*/
#desktop_content .text li {
  display: none;
  visibility: hidden; }
  @media (min-width: 980px) {
    #desktop_content .text li {
      display: block;
      visibility: visible;
      max-width: 32rem;
      min-height: 5rem;
      margin: 0 auto;
      font-size: 1rem;
      line-height: 1.2; } }
  @media (min-width: 980px) {
    #desktop_content .text li else {
      display: block;
      visibility: visible;
      max-width: 32rem;
      min-height: 5rem;
      margin: 0 auto;
      font-size: 1rem;
      line-height: 1.2; } }

#desktop_content .title li {
  font-weight: bold;
  display: none;
  visibility: hidden; }
  @media (min-width: 980px) {
    #desktop_content .title li {
      display: block;
      visibility: visible;
      font-size: 2rem;
      letter-spacing: 0.125rem; } }
  @media (min-width: 980px) {
    #desktop_content .title li else {
      display: block;
      visibility: visible;
      font-size: 2rem;
      letter-spacing: 0.125rem; } }
  @media (min-width: 1024px) {
    #desktop_content .title li {
      margin-bottom: 1.5rem; } }
  @media (min-width: 1024px) {
    #desktop_content .title li else {
      margin-bottom: 1.5rem; } }

/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Molecule
TITLE: Mobile Content
===========================================================================
*/
#desktop_content .title li {
  position: relative;
  max-width: 100%;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 1rem; }

.text,
.mobi-about,
.mobi-contact {
  color: #111; }
  @media (min-width: 980px) {
    .text,
    .mobi-about,
    .mobi-contact {
      color: #7FDBFF; } }
  @media (min-width: 980px) {
    .text else,
    .mobi-about else,
    .mobi-contact else {
      color: #7FDBFF; } }

.mobi-about,
.mobi-contact {
  width: 100%;
  padding: 5%;
  display: block; }
  @media (min-width: 980px) {
    .mobi-about,
    .mobi-contact {
      display: none; } }
  @media (min-width: 980px) {
    .mobi-about else,
    .mobi-contact else {
      display: none; } }

.mobi-contact {
  text-align: center; }

/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Molecule
TITLE: Mouse hover effects
===========================================================================
*/
.hover-effects {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
  display: none; }
  @media (min-width: 980px) {
    .hover-effects {
      display: block; } }
  @media (min-width: 980px) {
    .hover-effects else {
      display: block; } }

/* positioning of divs for hovering */
#leftHover,
#topHover,
#rightHover,
#bottomHover {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  cursor: pointer;
  background: transparent url("../images/left_arrow.png") no-repeat center center;
  background-size: contain;
  opacity: 1; }

#topHover,
#bottomHover {
  width: 100%;
  height: 13%;
  background: transparent url("../images/up_arrow.png") no-repeat center center;
  background-size: contain; }

#rightHover {
  left: auto;
  right: 0;
  background: transparent url("../images/right_arrow.png") no-repeat center center;
  background-size: contain; }

#bottomHover {
  top: auto;
  bottom: 0%;
  background: transparent url("../images/down_arrow.png") no-repeat center center;
  background-size: contain; }

.popups {
  opacity: 0;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  padding: 15% 10% 10% 10%; }

/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Molecule
TITLE: Slider
===========================================================================
*/
.projects {
  position: absolute;
  text-align: left;
  bottom: 0;
  right: 0;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.4); }

/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Organism
TITLE: Logo
===========================================================================
*/
#logo {
  background: transparent url("../images/coding.jpg") no-repeat center center;
  background-size: contain;
  width: 8em;
  height: 8em;
  margin-left: auto;
  margin-right: auto;
  z-index: 300;
  top: 4.8em;
  left: 0;
  right: 0;
  position: absolute; }

/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Template
TITLE: Backgrounds
===========================================================================
*/
.landingPage {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  display: block; }

.mobileBG {
  background: transparent url("../images/kenny_portrait.jpg") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: block; }
  @media (min-width: 980px) {
    .mobileBG {
      display: none; } }
  @media (min-width: 980px) {
    .mobileBG else {
      display: none; } }

.content {
  position: relative;
  z-index: 400;
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: content-box; }
  .content:before {
    content: '';
    display: inline-block;
    width: 0px;
    height: 100%;
    vertical-align: middle; }
  .content__text-wrapper {
    display: inline-block;
    vertical-align: middle;
    width: 90%;
    margin-top: 35%; }
    @media (min-width: 980px) {
      .content__text-wrapper {
        margin-top: 20%; } }
    @media (min-width: 980px) {
      .content__text-wrapper else {
        margin-top: 20%; } }
  @media (min-width: 980px) {
    .content {
      position: absolute;
      z-index: 900;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; } }
  @media (min-width: 980px) {
    .content else {
      position: absolute;
      z-index: 900;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; } }

/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Template
TITLE: Loading Page
===========================================================================
*/
#loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000; }

#loading_images,
#loading_images img:first-child {
  width: 8em;
  margin: 0 auto;
  text-align: center; }

#loading_images {
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%); }

/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Molecule
TITLE: About Me
===========================================================================
*/
#aboutMe {
  color: black;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  transform: translate(0, -100%); }
  #aboutMe.showing {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }

/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Molecule
TITLE: Contact Info
===========================================================================
*/
#contactInfo {
  padding-top: 8%;
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  transform: translate(0, 100%); }
  #contactInfo.showing {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }

#contactInfo section,
.mobi-contact section {
  width: 80%;
  margin: 2% 10%; }
  @media (min-width: 980px) {
    #contactInfo section,
    .mobi-contact section {
      margin: 4% 10%; } }
  @media (min-width: 980px) {
    #contactInfo section else,
    .mobi-contact section else {
      margin: 4% 10%; } }
  @media (min-width: 1440px) {
    #contactInfo section else,
    .mobi-contact section else {
      margin: 6% 10%; } }

#contactInfo section span:before,
#contactInfo section span:after,
.mobi-contact section span:before,
.mobi-contact section span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 45%;
  height: 5px;
  /* space between lines */
  margin-top: 0px;
  /* adjust vertical align */
  border-top: 1px solid;
  /*border-bottom: 1px solid;*/
  right: 55%; }

#contactInfo section span:after,
.mobi-contact section span:after {
  left: 55%; }

#contactInfo h1,
.mobi-contact h1 {
  margin-bottom: 15px; }

#google_spacing {
  display: inline-block;
  top: -1rem;
  margin-left: 15px; }

#contactInfo a img,
.mobi-contact a img {
  max-width: 50px;
  margin: 5px 15px; }

.github-icon1 {
  display: none; }
  @media (min-width: 980px) {
    .github-icon1 {
      display: inline-block; } }
  @media (min-width: 980px) {
    .github-icon1 else {
      display: inline-block; } }

.github-icon2 {
  display: inline-block; }
  @media (min-width: 980px) {
    .github-icon2 {
      display: none; } }
  @media (min-width: 980px) {
    .github-icon2 else {
      display: none; } }

.voting {
  width: 35%;
  margin: 0 auto; }

.voting a {
  float: left; }
  .voting a:nth-child(2n) {
    float: right; }

.voting a span {
  display: block; }
