@charset "UTF-8";
/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
TITLE: SCSS Manifest
===========================================================================
*/
/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Utility
TITLE: Normalize v2.1.1 Customized
===========================================================================
*/
article,
aside,
details,
div,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  background: #fff;
  color: #000;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 32px;
  font-size: 2rem; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 75%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

legend {
  border: 0;
  padding: 0; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: inherit; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Utility
TITLE: CSS Reset
===========================================================================
*/
div,
header,
main,
section,
article,
aside,
figure,
figcaption,
form,
footer {
  box-sizing: border-box;
  position: relative; }

a {
  text-decoration: none;
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  position: relative;
  margin: 0;
  padding: 0; }

p {
  position: relative;
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

input {
  border-radius: 0;
  -webkit-appearance: none !important; }

button {
  border: none; }

/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Utility
TITLE: Clearfix
===========================================================================
*/
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Utility
TITLE: SASS Mixins
===========================================================================
*/
/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Utility
TITLE: Breakpoints
===========================================================================
*/
/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Utility
TITLE: Better CSS default colours by @mrmrs
===========================================================================
*/
/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Utility
TITLE: Colour Classes
===========================================================================
*/
/*

   SKINS
   • Backgrounds
   • Colors

*/
/* Backgrounds */
/* Colors */
/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Utility
TITLE: Font Definitions – GT Walsheim
===========================================================================
*/
@font-face {
  font-family: "gt-walsheim-regular";
  src: url("../fonts/GT-Walsheim-Regular.eot");
  src: url("../fonts/GT-Walsheim-Regular.ttf") format("truetype"), url("../fonts/GT-Walsheim-Regular.woff") format("woff");
  font-weight: normal; }

@font-face {
  font-family: "gt-walsheim-medium";
  src: url("../fonts/GT-Walsheim-Medium.eot");
  src: url("../fonts/GT-Walsheim-Medium.ttf") format("truetype"), url("../fonts/GT-Walsheim-Medium.woff") format("woff"), url("../fonts/GT-Walsheim-Medium.svg#gt-walsheim-medium") format("svg");
  font-weight: normal; }

@font-face {
  font-family: 'gt-walsheim-bold';
  src: url("../fonts/GT-Walsheim-Bold.eot");
  src: url("../fonts/GT-Walsheim-Bold.ttf") format("truetype"), url("../fonts/GT-Walsheim-Bold.woff") format("woff"); }

body {
  font-family: 'gt-walsheim-medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal; }

/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Utility
TITLE: Personal Profile Colours
===========================================================================
*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Atom
TITLE: Scaffolding
===========================================================================
*/
html,
body {
  width: 100%;
  height: 100%; }

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  font-size: 1rem;
  line-height: 1.375;
  color: #283175; }

body::-webkit-scrollbar {
  display: none; }

.frozen {
  overflow: hidden;
  height: 100%; }

.main {
  position: relative;
  width: 100%;
  height: 100%; }

#__blaze-root {
  height: 100%; }

/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Molecule
TITLE: Parallax Container
===========================================================================
*/
.parallaxBG {
  display: none;
  visibility: hidden;
  -webkit-perspective: 4000px;
  -moz-perspective: 4000px;
  perspective: 4000px; }
  .parallaxBG:before {
    content: 'mobile'; }
  @media (min-width: 768px) {
    .parallaxBG {
      display: block;
      visibility: visible;
      position: relative;
      overflow: hidden;
      z-index: 200;
      top: 0;
      left: 0;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0); }
      .parallaxBG:before {
        content: 'web';
        display: none; } }

/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Molecule
TITLE: Desktop Content
===========================================================================
*/
/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Molecule
TITLE: Mobile Content
===========================================================================
*/
/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Organism
TITLE: Logo
===========================================================================
*/
#logo {
  background: transparent url("../images/coding.jpg") no-repeat center center;
  background-size: contain;
  width: 200px; }

/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Template
TITLE: Backgrounds
===========================================================================
*/
.mobileBG {
  background: transparent url("../images/voilah-teaser-mobile@3x.jpg") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: block; }
  @media (min-width: 768px) {
    .mobileBG {
      display: none; } }
