/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
TITLE: SCSS Manifest
===========================================================================
*/

// UTILITIES
  @import "utilities/normalize";
  @import "utilities/reset";
  @import "utilities/clearfix";
  @import "utilities/mixins";
  @import "utilities/breakpoints";
  @import "utilities/default-colors";
  @import "utilities/default-color-classes";
  @import "utilities/fonts-gt-walsheim";
  @import "utilities/colors";
  // @import "utilities/visually-hidden";

// LIBRARIES
  @import "lib/animate";

// ATOMS


// MOLECULES


// ORGANISMS
  @import "organisms/logo";

// TEMPLATES


// DEBUG
  // @import "debug";