/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
TITLE: SCSS Manifest
===========================================================================
*/

// UTILITIES
  @import "utilities/normalize";
  @import "utilities/reset";
  @import "utilities/clearfix";
  @import "utilities/mixins";
  @import "utilities/breakpoints";
  @import "utilities/default-colors";
  @import "utilities/default-color-classes";
  @import "utilities/easing";
  @import "utilities/fonts-gt-walsheim";
  @import "utilities/colors";
  @import "utilities/hidden";

// LIBRARIES
  @import "lib/animate";

// ATOMS
  @import "atoms/scaffolding";
  @import "atoms/about-me";
  @import "atoms/contact-info";

// MOLECULES
  @import "molecules/parallax";
  @import "molecules/content-desktop";
  @import "molecules/content-mobile";
  @import "molecules/hover-effects";

// ORGANISMS
  @import "organisms/logo";

// TEMPLATES
  @import "templates/landingPage";
  @import "templates/loading";

// DEBUG
  // @import "debug";