/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
TITLE: SCSS Manifest
===========================================================================
*/

// UTILITIES
  @import "utilities/normalize";
  @import "utilities/reset";
  @import "utilities/clearfix";
  @import "utilities/mixins";
  @import "utilities/breakpoints";
  @import "utilities/default-colors";
  @import "utilities/default-color-classes";
  @import "utilities/easing";
  @import "utilities/fonts-gt-walsheim";
  @import "utilities/colors";
  @import "utilities/hidden";

// LIBRARIES
  @import "lib/animate";
  @import "lib/fullPage";

// ATOMS
  @import "atoms/scaffolding";
  @import "atoms/slider-project1";
  @import "atoms/slider-project2";
  @import "atoms/slider-project3";
  @import "atoms/left-nav";
  @import "atoms/right-nav";

// MOLECULES
  @import "molecules/parallax";
  @import "molecules/content-desktop";
  @import "molecules/content-mobile";
  @import "molecules/hover-effects";
  @import "molecules/slider-projects";

// ORGANISMS
  @import "organisms/logo";

// TEMPLATES
  @import "templates/landingPage";
  @import "templates/loading";
  @import "templates/about-me";
  @import "templates/contact-info";

// DEBUG
  // @import "debug";