<head>
	<title>Kenny Lu</title>
	<link rel="shortcut icon" type="image/png" href="images/coding.png" />
	<link rel="icon" type="image/png" href="images/coding.png" />
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<!--
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-touch.min.js"></script>
	-->
	<script type="text/javascript" src="js/lib/jquery.js"></script>

<!--
	<script type="text/javascript" src="js/lib/angular.js"></script>
	<script type="text/javascript" src="js/lib/angular-route.js"></script>
	<script type="text/javascript" src="js/lib/angular-touch.js"></script>
-->

	<link rel="stylesheet" type="text/css" MEDIA="screen" href="scss/lib/fullPage.css">
	<script type="text/javascript" src="js/lib/easings.min.js"></script>
	<script type="text/javascript" src="js/lib/slimscroll.min.js"></script>
	<script type="text/javascript" src="js/lib/jquery.fullPage.js"></script>

	<link rel="stylesheet" href="css/manifest.css" type="text/css" MEDIA="screen">
	<script type="text/javascript" src="dist/all.js"></script>
</head>
