<head>
	<title>Kenny Lu</title>
	<link rel="shortcut icon" type="image/png" href="images/coding.png" />
	<link rel="icon" type="image/png" href="images/coding.png" />
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<script type="text/javascript" src="js/lib/jquery.min.js"></script>

	<script type="text/javascript" src="js/lib/slimscroll.min.js"></script>
	<script type="text/javascript" src="js/lib/jquery.fullPage.min.js"></script>

	<link rel="stylesheet" href="css/manifest.css" type="text/css" MEDIA="screen">
	<script type="text/javascript" src="dist/all.js"></script>
</head>
