@import '~variables';

.base {
  background-color: $white;
  height: 100%;
  justify-content: center;
}

.image-container {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.background-image {
  height: 100%;
  transform: translate(-40%);
  width: auto;

  @media (min-width: 550px) {
    transform: translate(-35%);
  }

  @media (min-width: 680px) {
    transform: translate(-30%);
  }

  @media (min-width: 720px) {
    transform: translate(-25%);
  }

  @media (min-width: 768px) {
    height: auto;
    transform: translate(0);
    width: 100%;
  }
}

.text-wrapper {
  left: 10%;
  position: absolute;
  top: 25%;
  width: 80%;

  @media (min-width: 992px) {
    width: 60%;
  }

  @media (min-width: 1250px) {
    width: 40%;
  }
}
