@import '~variables';

.base {
  background-color: $primary-gray;
  height: 100%;
  justify-content: center;
}

.image-container {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.background-image {
  width: 100%;
}
