/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Molecule
TITLE: Mouse hover effects
===========================================================================
*/

.hover-effects {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	height: 100%;
	display: none;
	@include breakpoint($laptop) {
		display: block;
	}
}

/* positioning of divs for hovering */
#leftHover,
#topHover,
#rightHover,
#bottomHover {
	border: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 10%;
	height: 100%;
	cursor: pointer;
	background: transparent url('../images/left_arrow.png') no-repeat center center;
	background-size: contain;
	@extend %k-easing;
	opacity: 1;
}

#topHover,
#bottomHover {
	width: 100%;
	height: 13%;
	background: transparent url('../images/up_arrow.png') no-repeat center center;
	background-size: contain;
}

#rightHover {
	left: auto;
	right: 0;
	background: transparent url('../images/right_arrow.png') no-repeat center center;
	background-size: contain;
}

#bottomHover {
	top: auto;
	bottom: 0%;
	background: transparent url('../images/down_arrow.png') no-repeat center center;
	background-size: contain;
}

.popups {
	opacity: 0;
	position: absolute;
	top: 0;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	padding: 15% 10% 10% 10%;
	@extend %k-easing;
}

