/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Molecule
TITLE: Mouse hover effects
===========================================================================
*/

.hover-effects {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	@include breakpoint($laptop) {
		display: block;
	}
}

.hover-effects a {
	width: 100%;
	height: 100%;
}

/* positioning of divs for hovering */
#leftHover,
#topHover,
#rightHover,
#contactHover {
	position: absolute;
	top: 0;
	left: 0;
	width: 10%;
	height: 100%;
	@extend %k-easing;
}

#topHover,
#contactHover {
	width: 100%;
	height: 10%;
}

#rightHover {
	left: auto;
	right: 0;
}

#contactHover {
	top: auto;
	bottom: 0;
}

/* preview images for left/top/right */
#leftHover img,
#topHover img,
#rightHover img,
#contactInfo {
	position: relative;
	width: 0%;
	height: 100%;
	float: left;
	@extend %k-easing;
}

#topHover img {
	width: 100%;
	height: 0%;
}

#rightHover img {
	float: right;
}

#contactInfo {
	width: 100%;
	height: auto;
	top: 40%;
	@extend %k-easing;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
