/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Molecule
TITLE: Mouse hover effects
===========================================================================
*/

.hover-trigger {
	position: absolute;
}

#topHover,
#contactHover {
	height: 10%;
	width: 100%;
}

#leftHover,
#rightHover {
	width: 10%;
	height: 100%;
}

#topHover,
#leftHover {
	top: 0;
	left: 0;
}

#contactHover {
	bottom: 0;
	left: 0;
}

#rightHover {
	top: 0;
	right: 0;
}