/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Molecule
TITLE: Slider
===========================================================================
*/

.projects {
	position: absolute;
	text-align: left;
	bottom: 0;
	right: 0;
	padding: 1rem 2rem;
	background-color: rgba(0,0,0,0.4);
}
