@import '~variables';

.base {
  background-color: $charcoal;
  color: $white;
  padding: 6rem 0;
  text-align: center;
  width: 100%;
}

.social-media {
  max-height: 50px;
  max-width: 50px;
  width: 50px;

  img {
    width: 100%;
  }
}
