@import '~variables';

.base {
  background-color: $charcoal;
  color: $white;
  padding: 6rem 1rem;
  text-align: center;
  width: 100%;
}

.social-media-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  padding-top: 2.5rem;
}

.social-media {
  background-color: $primary-gray;
  cursor: pointer;
  max-height: 40px;
  max-width: 40px;
  padding: 4px;
  width: 40px;

  &.is-hovering {
    background-color: $salmon;
  }

  img {
    width: 100%;
  }
}
