/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Atom
TITLE: Navigation Left Arrow
===========================================================================
*/

.fp-controlArrow.fp-prev {
	border: none;
	position: absolute;
	top: 6%;
	left: 1%;
	width: 10%;
	height: 100%;
	background: transparent url('../images/left_arrow.png') no-repeat center center;
	background-size: contain;
	@extend %k-easing;
	display: none;
	@include breakpoint($laptop) {
		display: block;
		&.hidden {
			display: none;
		}
	}
}