/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Atom
TITLE: Scaffolding
===========================================================================
*/

html,
body {
  width: 100%;
  height: 100%;
}

body {
  @extend %gtWalsheimMedium;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  position: relative;
  width: 100%;
  overflow-x: hidden;

  font-size: 1rem;
  line-height: 1.375;
  color: $k-aqua;
}

body::-webkit-scrollbar {
  display: none;
}

// state class to prevent main window scroll
.frozen {
  overflow: hidden;
  height: 100%;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  // min-height: 100%;
  // min-height: 100vh;
}

a,
a:hover,
a:active,
a:focus,
a:visited {
  color: $k-aqua;
}