.base {
  position: relative;
}

.no-gutters {
  padding: 0;
}

.edu-block {
  height: 200px;
  position: relative;
  width: 100%;

  img {
    height: 200px;
    width: 100%;
  }
}

.no-margins {
  margin: 0;
}

.text-overlay {
  align-items: center;
  align-self: center;
  background: transparent;
  bottom: 0;
  cursor: crosshair;
  display: flex;
  font-size: 22px;
  font-weight: 900;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.is-hovering {
  background: rgba(0, 0, 0, .6);
  opacity: 1;
}
