/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Utility
TITLE: Breakpoints
===========================================================================
*/

$breakpoint-to-ems: true;

$iPhoneSix: 375px;

$iPhoneSixPlus: 414px;

$phoneLarge: 533px;

$tablet: 768px;

$laptop: 980px;

$desktop: 1024px;

$wide: 1200px;