/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Utility
TITLE: Personal Profile Colours
===========================================================================
*/

$k-dark: #1A1919;
$k-purple: #283175;
$k-blue: #C4E4EF;
$k-sky: #C4E4EF;
$k-grey: #787674;
$k-aqua: #7FDBFF;
