/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Utility
TITLE: Personal Profile Colours
===========================================================================
*/

$v-dark: #1A1919;
$v-purple: #283175;
$v-blue: #C4E4EF;
$v-sky: #C4E4EF;
$v-grey: #787674;
