/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Utility
TITLE: Visually Hidden
===========================================================================
*/

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &.focusable:active,
  &.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}