@import '~variables';

.base {
  background-color: $primary-gray;
  min-height: 100%;
  padding: 5rem;
}

.section-wrapper {
  padding: 1rem;

  img {
    text-align: center;
    width: 10rem;
  }
}

.content {
  height: 100%;
}
