@import '~variables';

.base {
  align-items: center;
  background-color: $primary-gray;
  display: flex;
  min-height: 100%;
  padding: 1rem;
}

.section-wrapper {
  padding: 1rem;

  img {
    align-self: center;
    padding-bottom: 4rem;
    text-align: center;
    width: 7rem;
  }
}

.column-wrapper {
  padding: 0 1rem;
}

.icon-wrapper {
  display: flex;
  flex-direction: row;

  @media (min-width: 992px) {
    flex-direction: column;
  }
}
