@import '~variables';

.base {
  background-color: $primary-gray;
  padding: 5rem;
  // border: 1px solid blue;
}

.section-wrapper {
  padding: 1rem;
  // border: 1px solid red;
}

.section-entry {
  padding-bottom: 2rem;
}

.panel {
  border: 1px solid blue;
}
