@import '~variables';

@mixin text-base {
  color: $charcoal;
  font-weight: normal;
  font-size: 1rem;
}

.base {
  @include text-base;
}

.section-header {
  @include text-base;

  font-weight: bold;
  text-transform: uppercase;
}

.text-block-subheader {
  @include text-base;

  font-style: italic;

  &.bottom-margin {
    margin-bottom: 1.5rem;
  }
}

.text-block-header {
  @include text-base;

  font-weight: bold;

  &.red-text {
    color: $text-red;
  }
  color: $charcoal;
}
