@import '~variables';

@mixin text-base {
  color: $charcoal;
  font-size: 1rem;
  font-weight: normal;
}

.base {
  @include text-base;
}

.section-header {
  @include text-base;

  font-family: 'SFTextSemibold';
  font-size: 3rem;
  text-transform: uppercase;
}

.text-block-subheader {
  @include text-base;

  font-family: 'SFTextSemibold';
  font-style: italic;
}

.text-block-header {
  @include text-base;

  color: $charcoal;
  font-family: 'SFTextSemibold';
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.text-block {
  @include text-base;

  font-family: 'SFTextRegular';
  font-size: 2rem;
}


// possible text options
.bottom-margin {
  margin-bottom: 1.5rem;
}

.red-text {
  color: $salmon;
}

.justify {
  text-align: justify;
}
