/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Template
TITLE: Backgrounds
===========================================================================
*/

.mobileBG {
	background: transparent url('../images/voilah-teaser-mobile@3x.jpg') no-repeat center center;
	background-size: contain;
}
