@import '~variables';

.base {
  background-color: $main-purple;
  color: $white;
  display: flex;
  justify-content: space-around;
  padding: 6rem 3rem;
}

.progress-bar-wrapper {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10%;
}

.skill-title {
  font-size: 2rem;
  font-weight: 500;
  padding-top: 2rem;
}
