/*
===========================================================================
                                  KENNY LU
---------------------------------------------------------------------------
PROJECT: 151102
CLIENT: N/A
DELIVERABLE: PHP - JS codebase for Personal Profile 1.0
CLASS: Organism
TITLE: Logo
===========================================================================
*/

#logo {
	background: transparent url('../images/coding.jpg') no-repeat center center;
	background-size: contain;
	width: 200px;
}
