.base {
  min-height: 100%;
  padding: 5rem;
}

.content-wrapper {
  padding-top: 3rem;
}

.margin-bottom {
  margin-bottom: 4rem;
}

.portfolio-link {
  border: 1px solid red;
  border-radius: 50%;
  display: flex;
  height: 15vw;
  justify-content: center;
  overflow: hidden;
  width: 15vw;
}

.portfolio-logos {
  height: 100%;
  width: 100%;
}

.text-background {
  // background-color: rgba(0, 0, 0, .6);
}

.text-wrapper {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
  width: 70%;
}

.hide-text-wrapper {
  // transform: translate(0, 100%);
}
